
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Signup</title>
</head>

<body>





<div id="signup-form">
    <h2>Signup</h2>
    <form id="signup" action="/signup" method="POST">
        <label for="newUsername">Username:</label>
        <input type="text" id="newUsername" name="newUsername" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="newPassword">Password:</label>
        <input type="password" id="newPassword" name="newPassword" required>
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        {% comment %} <button type="button" onclick="toggleForm('login')">Teacher Login</button><br>
        <br> {% endcomment %}
        <button type="submit">Teacher Signup</button>
    </form>
    
</div>

</body>
</html>